// colors
$primary_color        : #0A3D4A;
$primary_color_bolder : #000000;
$secondary_color      : #625154;

//main
$main_font_color :black;
$main_font_size  : 16px;

//background colors
$primary_bg_color  : white;
$secondary_bg_color: #0A3D4A;
$third_bg_color    : #625154;
$fourth_bg_color   :#E8E8EA;


//hover
$primary_hover_color  : #625154;
$secondary_hover_color: black;

//breadcrumb
$active_color    :#625154;
$not_active_color:#A19798;


// sizes
$light   : 300;
$regular : 400;
$medium  : 500;
$semibold: 600;
$bold    : 700;
$bolder  : 900;

//custom houmata
$btn_font_weight:600;
$letter_spacing :1px;

// Typography
$font_family       : '';
$font_family_header: '';

//Transition
$transition: all 0.3s ease-in-out;

//custom
$category_bloc_height: 150px;
